sp-appfooter button, input[type=range]::-webkit-slider-runnable-track {
  box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, .5);
  border-radius: 28pt;
  background-image: transparent;
  background-size: cover;
  margin-right: 6pt;
}
button.fa-play {
    -webkit-transform: scale(1.08);
}
sp-appfooter button:active {
    opacity: 0.5;
}
input[type=range]{
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    background: transparent;
}
sp-bottomtabbar {
    color: #001122;
}

sp-header {
    display: none !important;
}
span, h1, h2, h3, h4, p, sp-link, sp-menuitem {
 /* filter: hue-rotate(var(--primary-hue)) saturate(var(--primary-saturation));*/
}    

h3 > sp-link, td sp-image {
 /* filter: hue-rotate(calc(1deg - var(--primary-hue))) saturate(calc(100% - var(--primary-saturation)));*/

}    


th {
  color: black;
}
sp-sidebar {
    border-right: 1px solid black;
}
sp-divider {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

sp-mediasidebar {
  display: flex;
  flex: 0 0 128pt;
  background: url('../images/sidebar.png');
  background-size: 100% 100%;
}
@media screen and (min-width: 720pt) {


    sp-appheader sp-searchform {
        display: none;
    }
}
.sp-current-track td {
    background: black !important;
}

sp-mediasidebaritem {
  display: flex;
  flex-direction: column;
  gap: 5pt;
  font-size: 18pt;
  margin: 8pt;
  padding: 5pt;
  color: black !important

}
sp-mediasidebaritem:hover {
  background: url('../images/header.png');
}
sp-sidebar sp-searchform {
    display: flex;
}

sp-toolbar {
  display: flex;
}
.splatter {
  visibility: hidden;
}
sp-trackcontrols sp-appfootersection:first-child {
  transform: translate(6rem, 0pt);
}
body {
  background: #8af; 
}
sp-chrome {
  background: transparent !important;
  border-image-source: url("../images/shell.svg");
  background: url("../images/shell.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-image-slice: 121 121 121 138; 
  border-image-width: 102px;
  filter: hue-rotate(var(--primary-hue)) saturate(var(--primary-saturation)) drop-shadow(0 0 25pt rgba(0, 0, 0, 1));
}
main { 
} 
sp-sidebar, sp-main {
  background: url('../images/bg_dark.png');
  background-size: 100% 100%; 

}
sp-appheader {
  flex: 0 0 7rem;
}
sp-mediasidebar {
  background: transparent;
  flex: 0 0 7.0rem;
}
#playthumb {
  position: fixed;
  bottom: 3.5rem;
  left: 8rem;
  width: calc(100% - 6rem);
  border: none !important;
  box-shadow: none !important;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(50, 80, 170, 1));
}

button {
  appearance: none;
  border: none;
  background: none;
  border: 1pt solid #aaf;
  background: radial-gradient(ellipse at top left, rgba(255, 255, 255, 1), rgba(200, 230, 255, 1));
  
}