sp-appfooter button, input[type=range]::-webkit-slider-runnable-track {
  box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, .5);
  border-radius: 28pt;
  background-image: transparent;
  background-size: cover;
  margin-right: 6pt;
}
button.fa-play {
    -webkit-transform: scale(1.08);
}
sp-appfooter button:active {
    opacity: 0.5;
}
input[type=range]{
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    background: transparent;
}
sp-bottomtabbar {
    color: #001122;
}

sp-header {
    display: none !important;
}
span, h1, h2, h3, h4, p, sp-link, sp-menuitem {
 /* filter: hue-rotate(var(--primary-hue)) saturate(var(--primary-saturation));*/
}    

h3 > sp-link, td sp-image {
 /* filter: hue-rotate(calc(1deg - var(--primary-hue))) saturate(calc(100% - var(--primary-saturation)));*/

}    


th {
  color: black;
}
sp-sidebar {
    border-right: 1px solid black;
}
sp-divider {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

sp-mediasidebar {
  display: flex;
  flex: 0 0 128pt;
  background: url('../images/sidebar.png');
  background-size: 100% 100%;
}
@media screen and (min-width: 720pt) {


    sp-appheader sp-searchform {
        display: none;
    }
}
.sp-current-track td {
    background: black !important;
}

sp-mediasidebaritem {
  display: flex;
  flex-direction: column;
  gap: 5pt;
  font-size: 18pt;
  margin: 8pt;
  padding: 5pt;
  color: black !important

}
sp-mediasidebaritem:hover {
  background: url('../images/header.png');
}
sp-sidebar sp-searchform {
    display: flex;
}

sp-toolbar {
  display: flex;
}
.splatter {
  visibility: hidden;
}
sp-trackcontrols sp-appfootersection:first-child {
  transform: translate(15rem, 1rem);
}
body {
  background: transparent !important;
  filter: hue-rotate(var(--primary-hue)) saturate(var(--primary-saturation));
}
sp-chrome {
  background: transparent !important;
  /*
  border-image-source: url("../images/shell.svg");
  background: url("../images/shell.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;*/
  border-image-slice: 121 121 121 138; 
  border-image-width: 102px;
}

.shell-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 14.0rem 30rem auto auto 10rem;
  grid-template-rows: 5rem auto 14.5rem;
  filter: drop-shadow(0 0 25pt rgba(0, 0, 0, 1))  ;
}

.shell-bg > div {
  background: url('../images/shell.svg');
  background-size: 1203pt 885pt;
}
.shell-bg > div:nth-of-type(1) {
  background-position: 0 0;
}
.shell-bg > div:nth-of-type(2) {
  background-position: 80rem 0;
}
.shell-bg > div:nth-of-type(3) {
  background-position: 103rem 0;
}
.shell-bg > div:nth-of-type(4) {
  background-position: -180rem 0;
}
.shell-bg > div:nth-of-type(5) {
  background-position: -208rem 0;
}
.shell-bg > div:nth-of-type(6) {
  background-position: 0 -5rem;
}
.shell-bg > div:nth-of-type(7) {
  background-position: 7.0rem 4.5rem;
}
.shell-bg > div:nth-of-type(8) {
  background-position: 7.0rem 4.5rem;
}
.shell-bg > div:nth-of-type(9) {
  background-position: -10.0rem 4.5rem;
}
.shell-bg > div:nth-of-type(10) {
  background-position: 0 9rem;
}
.shell-bg > div:nth-of-type(11) {
  background-position: -0.1rem -64.36rem;
}
.shell-bg > div:nth-of-type(12) {
  background-position: -14.0rem -64.36rem;
}
.shell-bg > div:nth-of-type(13) {
  background-position: 500rem -64.36rem;
}
.shell-bg > div:nth-of-type(14) {
  background-position: 582rem  -64.36rem;
}
.shell-bg > div:nth-of-type(15) {
  background-position: 582rem  -64.36rem;
}
main { 
} 
sp-sidebar, sp-main, sp-rightsidebar, sp-sidebar {
  background: #002255 !important;
  background-size: 100% 100%; 

}
sp-appheader {
  flex: 0 0 5rem;
  border: none !important;
}
sp-appfooter {
  flex: 0 0 5.  5rem;
  border: none !important;
}
sp-mediasidebar {
  background: transparent;
  flex: 0 0 14.0rem;
}
sp-mediasidebar  {
  padding-left: 2rem;
  padding-top: 2rem;
}
#playthumb {
  position: fixed;
  bottom: 3.5rem;
  left: 15rem;
  width: calc(100% - 6rem);
  border: none !important;
  box-shadow: none !important;
  background: linear-gradient(0deg, rgba(50, 80, 170, 0), rgba(50, 180, 270, 1));
}

button {
  appearance: none;
  border: none;
  background: none;
  border: 1pt solid #aaf;
  background: radial-gradient(ellipse at top left, rgba(255, 255, 255, 1), rgba(200, 230, 255, 1));
  
}
#oldifyLogo {
  visibility: hidden;
}