sp-chrome {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/radient-editor/#f2f7fc+0,e1ebf4+100 */
background: rgb(242,247,252); /* Old browsers */
background: -moz-linear-gradient(top, rgba(242,247,252,1) 0%, rgba(225,235,244,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(242,247,252,1) 0%,rgba(225,235,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(242,247,252,1) 0%,rgba(225,235,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
body {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/radient-editor/#f2f7fc+0,e1ebf4+100 */
background: rgb(242,247,252); /* Old browsers */
background: -moz-linear-gradient(top, rgba(242,247,252,1) 0%, rgba(225,235,244,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(242,247,252,1) 0%,rgba(225,235,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(242,247,252,1) 0%,rgba(225,235,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f7fc', endColorstr='#e1ebf4',GradientType=0 ); /* IE6-9 */
color: #777;
text-shadow: 0pt 0pt 12pt rgba(255, 255, 255, 1);
font-size: 11px; 
-webkit-filter: hue-rotate(var(--primary-hue)) saturate(var(--primary-saturation)) !important;

}
td, td {
    padding: 3pt;
    border-bottom: 1pt solid rgba(0, 0, 0, .05);
}
button, .sp-track-selected, thead {
    background-color: white;
    border: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/radient-editor/#e1ebf4+48,f2f7fc+96 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/radient-editor/#d3ecff+1,c9e0d7+100 */
background: rgb(211,236,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(211,236,255,1) 1%, rgba(201,224,215,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(211,236,255,1) 1%,rgba(201,224,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(211,236,255,1) 1%,rgba(201,224,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3ecff', endColorstr='#c9e0d7',GradientType=1 ); /* IE6-9 */
box-shadow: inset 0pt 0pt 0.5pt rgba(255, 255, 255, .1), 0pt 0pt 3pt rgba(0, 0, 0, .5), inset 0pt 10pt 0pt rgba(255, 255, 255, .5), inset 0pt -2pt 6pt rgba(255, 255, 255, 1);
border-radius: 15pt;
padding: 5pt;
}
sp-tabbar {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/radient-editor/#007193+1,3e9995+100 */
background: rgb(0,113,147); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,113,147,1) 1%, rgba(62,153,149,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,113,147,1) 1%,rgba(62,153,149,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,113,147,1) 1%,rgba(62,153,149,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007193', endColorstr='#3e9995',GradientType=1 ); /* IE6-9 */

box-shadow:inset 0pt 0pt 2pt rgba(111, 233, 255, .5), inset 0pt 10pt 5pt rgba(111, 233, 255, .28);
color: white;
text-shadow: 0pt 0pt 0pt black;
    
}
sp-viewstack {
    border-left: 1pt solid #aaa;
}
sp-sidebar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/radient-editor/#f7f9ff+1,e6edf7+54,d6e7f9+100 */
background: rgb(247,249,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,249,255,1) 1%, rgba(230,237,247,1) 54%, rgba(214,231,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(247,249,255,1) 1%,rgba(230,237,247,1) 34%,rgba(214,231,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(247,249,255,1) 1%,rgba(230,237,247,1) 34%,rgba(214,231,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9ff', endColorstr='#d6e7f9',GradientType=0 ); /* IE6-9 */
}

sp-header {
    padding: 12pt;
    background: -webkit-linear-gradient(top, rgba(214,231,249,1) 0%, transparent 100%);
}
img, th {
  -webkit-filter: hue-rotate( calc(1-var(--primary-hue))) saturate(var(--primary-saturation));
  
}