
.icon-dropdown-closed:before { content: '\e800'; } /* '' */
.icon-dropdown-open:before { content: '\e801'; } /* '' */
.icon-signal-normal:before { content: '\e805'; } /* '' */
.icon-signal-roaming:before { content: '\e806'; } /* '' */