:root {
  --foreground-color: #666;
}
@font-face {
  font-family: 'roamnia';
  src: url('../font/roamnia.eot?27223602');
  src: url('../font/roamnia.eot?27223602#iefix') format('embedded-opentype'),
       url('../font/roamnia.woff2?27223602') format('woff2'),
       url('../font/roamnia.woff?27223602') format('woff'),
       url('../font/roamnia.ttf?27223602') format('truetype'),
       url('../font/roamnia.svg?27223602#roamnia') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'roamnia';
    src: url('../font/roamnia.svg?27223602#roamnia') format('svg');
  }
}
*/
sp-button {
  display: block;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "roamnia";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dropdown-closed:before { content: '\e800'; } /* '' */
.icon-dropdown-open:before { content: '\e801'; } /* '' */
.icon-signal-normal:before { content: '\e805'; } /* '' */
.icon-signal-roaming:before { content: '\e806'; } /* '' */
input {
  border: none;
  background-color: transparent;
}
sp-searchbox button, sp-searchbox input {
  float: left;
}
sp-form input {
  display: block;
}
sp-result {
  background-color: white;
  color: black;
}
sp-result a {
  display: block;
}
sp-result a:hover {
  background-color:  var(--brand-primary);
  color: white;
}
sp-manager sp-image {
  margin-right: 12pt;
}
.old {
  opacity: 0.5;
}
sp-searchform button {
  padding: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
}
.btn-group > button {
  border-radius: 0pt;
}
.btn-group > button:first-child {
  margin-right: 0pt;
  border-radius: 6pt 0pt 0pt 6pt;
}
.btn-group > button:last-child {
  margin-left: 0pt;
  border-radius: 0pt 6pt 6pt 0pt;
}
sp-manager {
  display: block;
  padding: 12pt;
  padding-top: 12pt !important;
  padding-bottom: 12pt !important;
}
table {
  table-layout: fixed;
  width: 100%;
}
sp-hook {
  width: 100%;
}
sp-item {
  text-align: center;
  display: inline-block;
  padding: 3pt;
  box-sizing: border-box;
  overflow: hidden;
}
sp-flow {
  display: block;
}
sp-image {
  position: relative;
  overflow: hidden;
  transition: transform 0.1s;
  
}
sp-image:hover {
 /* transform: scale(1.1);*/
}
sp-image:active {
  transform: scale(0.99);
  filter: brightness(0.7);
}
sp-image > div {
  position: absolute;
  padding: 3pt;
  height: auto;
  left: 0pt;
  bottom:0pt;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
}
sp-item {
  display: inline-block;
}
sp-item {
  padding-top: 12pt;
  width: auto;
  padding-left: 12pt;
  display: inline-block;
}
sp-item sp-link {
}
sp-header {
  position: relative;
}
sp-header > .bg-mask {
  left: 0pt;
  top: 0pt;
  width: 100%;
  height: 100%;
  
}
.tagg {
  fill-opacity: 0.9;
}

.container {
  width: 100% !important;
}
.post-entry {
  
  border-bottom: 1pt solid rgba(0, 0, 0, .10);
}

.post {
  /*
  background-color: rgba(255, 255, 255, .02);
  box-shadow: 0pt 1pt 1pt rgba(0, 0, 0, 0.18);
  
  */
  margin-bottom: 16pt;
  display: flex;
  flex-direction: column;
  padding: 12pt;
}
.post-header {
  display: flex;
  flex-direction: row;
}
.post-title {
  display: flex;
  flex-direction: column;
}
.post-content {
  padding: 6pt;
}
sp-image {
  background-color: white;
  width: 64pt;
  height: 64pt;
}
.post-header {
  padding: 6pt;
}
.post-header > * {
  padding-right: 6pt;
}
hr {
  display: none;
  border: none;
  border-top: 1pt solid rgba(0, 0, 0, .1);
}
fieldset {
  border: none;
}
sp-attachment sp-image {
  box-shadow: none;
}
sp-attachment {
  display: block;
  padding: 3pt;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.28);
}

sp-playlistlist {
  display: block;
}

.plate {
  padding: 20pt;
  width: 50%;

}
.origo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.body {
  background-color: var(--background-color);
}
#loading * {
  background-color: var(--foreground-color)
}
.mainbody {
}
body {
  transition: background 1s;
}

sp-spotifysearchheader {
  padding: 20pt;
}